<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz Nihongo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container">
    <h2>Escolha seu questionario</h2>
    <div class="menu-grid">

      <a class="menu-card" routerLink="/questionary/family">
        <img src="assets/imgs/family.jpg" alt="">
        <span>Membros da familia</span>
      </a>

        <a class="menu-card" routerLink="/questionary/places">
          <img src="assets/imgs/places.jpg" alt="">
          <span>Tipos de moradia ou locais</span>
        </a>

        <a class="menu-card"  routerLink="/questionary/who">
          <img src="assets/imgs/who.jpg" alt="">
          <span>Quem esta na foto</span>
        </a>
    </div>

  </div>
</ion-content>
